[submodule "lisp/emacs-sql-indent"]
	path = lisp/emacs-sql-indent
	url = git@github.com:alex-hhh/emacs-sql-indent.git
[submodule "lisp/youtube-dl-emacs"]
	path = lisp/youtube-dl-emacs
	url = git@github.com:skeeto/youtube-dl-emacs.git
